.outer {
    width: 1200px;
}

.toc {
margin-left: 50px;
width: 200px;
position: fixed;
}

.article {
    margin-bottom: 10px;
    margin-bottom: 1000px;
}

.subtocs2 {
    display: none;
}

.cnt {
    cursor: pointer;
}

.wrapper {
width: 900px;
margin-left: 250px;
vertical-align:top;
 -ms-word-break: break-all;
word-break: break-all;

/* Non standard for webkit */
 word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

/* .toc ul { */
/*     list-style-type: none; */
/* } */
/*  */
/* .toc a { */
/*     text-decoration: none; */
/*     display: block; */
/* } */
/*  */
/* .toc .toc-h2 { */
/* } */
/*  */
/* .toc .toc-h3 { */
/*     padding-left: 20px */
/* } */
/*  */
/* .toc .toc-h4 { */
/*     padding-left: 30px */
/* } */
/*  */
/* .toc-active { */
/*     font-weight: bold; */
/* } */

body {
    color: #222;
    background-color: white; /*#f8f8f8;*/
    line-height: 140%;
    font-family: Arial, Helvetica,\"Ubuntu Light\", \"Bitstream Charter\",  sans-serif;
}

#main-outer-box {
    /* Contains all other divs for the page. */
}

#my-header {
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /*position: fixed;*/
}

div#my-header a {
    text-decoration:none;
    color: #000;
}

#middle {
    /* Contains nav and content side-by-side. */
    text-decoration:none;
}

#nav {
    float: left;
    width: 300px;
    padding: 0px;
    font-family: sans-serif;
    font-size: .9em;
    /*position: fixed;*/
    top: 30px;
}

div#nav a {
   text-decoration:none;
   color: #000;
}
div#nav ul {
  list-style-type: none;
  padding-left: 10px;
  color: #000;
}
div#nav ul:hover {
background: rgb(255,255,255);
}
div#nav ul li:hover {
background: rgb(240,240,240);
}
div#nav ul ul li:hover {
background: rgb(240,240,240);
}
div#nav ul ul ul li:hover {
background: rgb(240,240,240);
}
div#nav ul ul ul ul li:hover {
background: rgb(240,240,240);
}
div#nav ul ul ul ul ul li:hover {
background: rgb(240,240,240);
}
/* Pandoc automatically puts these in the page. */
#header .author {display: none;}
#header .date   {display: none;}

#header .title {
    font-size: 2em;
}

#TOC {
    background-color: #e5efdf;
    border: 1px solid #cedec4;
}

#content {
    margin-left: 300px;
    padding: 20px;
    max-width: 800px;
    border-left: 1px solid #ccc;
}

caption {
    font-style: italic;
    font-size: small;
    color: #555;
}

a:link {
    /*color: #000;*/
    /*background: #eeeeef;*/
    text-decoration:none;
}

a:visited {
    /*color: #000;*/
}

table {
    background-color: #eee;
    padding-left: 2px;
    border: 2px solid #d4d4d4;
    border-collapse: collapse;
}

th {
    background-color: #d4d4d4;
    padding-right: 4px;
}

tr, td, th {
    border: 2px solid #d4d4d4;
    padding-left: 4px;
    padding-right: 4px;
}

dt {
    font-weight: bold;
}

code {
    background-color: #eee;
}

pre {
    line-height: 135%;
    background-color: #eee;
    border: 1px solid #ddd;
    padding-left: 6px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
}

blockquote {
    background-color: #d8deea;
    border: 1px solid #c6d1e7;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
}

blockquote code, blockquote pre {
    background-color: #cad2e4;
    border-style: none;
}
code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
#footer {
    clear: both;
    padding: 10px;
    font-style: italic;
    font-size: .8em;
    color: #ccc;
    text-align: center;


    bottom: 40px;
    height: 50px;
/*width: 600px;*/
}

div#footer a {
    text-decoration:none;
    color: #ccc;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica,\"Ubuntu Light\", \"Bitstream Charter\",  sans-serif;
}

